.donate {
    padding: 0 2em;
}

/*
    ===================================== QUOTAS SECTION =====================================
*/

.donate__quotas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

/*
    ===================================== BENEFITS SECTION =====================================
*/

.quota__benefits__paragraf {
    font-size: var(--font-size-small);
    margin-top: .5em;
}

/*
    ===================================== PAYMENT OPTIONS SECTION =====================================
*/

.donate__payment_options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}

/*
===================================== QUOTA DONATION SECTION =====================================
*/

.donate__quota_donations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5em;
}

@media screen and (min-width: 767px) {
    .donate__content_title {
        display: block;

        max-width: 900px;
    }

    /*
        ===================================== QUOTAS SECTION =====================================
    */

    .donate__quotas {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;
    }

    /*
        ===================================== BENEFITS SECTION =====================================
    */
    
    .quota__benefits__paragraf {
        max-width: 80%;
        margin-left: 3%;
    }
}

@media screen and (min-width: 1023px) {
    /*
        ===================================== PAYMENT OPTIONS SECTION =====================================
    */

    .donate__payment_options {
        justify-content: space-between;
        gap: 0;
    }

    .donate__payment_options {
        justify-content: space-between;
        gap: 0;
    }
}