@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;700;900&display=swap');

*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
}

body {
    background-color: #fee8cf;
}

:root {
    --primary-color: #c77634;
    --secondary-color: #eeceb6;
    --font-size-very-large: 3.5rem;
    --font-size-large: 2.5rem;
    --font-size-medium: 2rem;
    --font-size-small: 1.1rem;
    --font-size-very-small: 0.8rem;
    --border-radius-medium: 12px;
    --border-radius-large: 30px;
    --border-radius-small: 5px;
    --padding-button: 20px 35px;
}

@media screen and (min-width: 767px) {
    :root {
        --font-size-very-large: 5rem;
        --font-size-large: 3.2rem;
        --font-size-medium: 2.5rem;
        --font-size-small: 1.4rem;
        --font-size-very-small: 0.8rem;
    }
}