*,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #BB733F;
    --font-size-very-large: 3.5rem;
    --font-size-large: 2.5rem;
    --font-size-medium: 2rem;
    --font-size-small: 1.1rem;
    --font-size-very-small: 0.8rem;
    --border-radius-medium: 12px;
    --border-radius-small: 5px;
    --padding-button: 20px 35px;
}

    @media screen and (min-width: 767px) {
    :root {
        --font-size-very-large: 5rem;
        --font-size-large: 3.2rem;
        --font-size-medium: 2.5rem;
        --font-size-small: 1.4rem;
        --font-size-very-small: 0.8rem;
    }
}