/*
    ===================================== INITIAL SECTION =====================================
*/

.home__init {
    position: relative;

    width: 100%;
    height: 100vh;
}

.home__init__banner {
    width: 100%;
    height: 100%;
}

.home__init__content {
    position: absolute;
    top: 0;
    bottom: 0;

    width: 100%;

    padding: .5em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home__init__content__subTitle {
    font-size: var(--font-size-medium);

    color: white;
}

.home__init__content__title {
    font-size: var(--font-size-very-large);

    color: white;

    max-width: 600px;
}

.home__init__content__button {
    font-size: var(--font-size-small);

    width: max-content;

    margin-top: 2em;
}

/*
    ===================================== INTRODUCTION SECTION =====================================
*/

.home__introduction {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2em;

    padding: 3em 1em;
}

.home__introduction__image {
    width: 100%;
    max-width: 450px;
}

.home__introduction__description {
    width: 100%;
    max-width: 750px;
}

.home__introduction__description__title {
    color: var(--primary-color);
    font-size: var(--font-size-large);

    margin-bottom: .5em;
}

.home__introduction__description__text {
    width: 85%;

    font-size: var(--font-size-small);
}

/*
    ===================================== MISSIONS SECTION =====================================
*/

.home__missions {
    padding: 0 .5em;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3em;
}

/*
    ===================================== OBJECTIVE SECTION =====================================
*/

.home__objective {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;

    margin-top: 5em;
}

.home__objective__text {
    font-size: var(--font-size-small);
    text-align: center;

    width: 85%;
    max-width: 750px;
}

/*
    ===================================== GOALS SECTION =====================================
*/

.home__goals {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;

    margin-top: 2rem;
}

.home__goals__goal {
    width: 85%;
}

.home__goals__goal__data {
    color: var(--primary-color);
    font-size: var(--font-size-large);
    text-align: center;
}

.home__goals__goal__description {
    font-size: var(--font-size-small);
    text-align: center;

    width: 85%;
    margin: 0 auto;
}

@media screen and (min-width: 1023px) {
    /*
        ===================================== INITIAL SECTION =====================================
    */

    .home__init__content {
        align-items: center;
    }

    .home__init__content__title {
        width: 100%;
        max-width: 12em;


        text-align: center;
    }

    /*
        ===================================== INTRODUCTION SECTION =====================================
    */
    
    .home__introduction {
        flex-direction: row;
        justify-content: space-around;
        align-items: start;
    }
    
    .home__introduction__description {
        display: flex;
        flex-direction: column;
        align-items: end;
        
        width: 50%;
        max-width: none;
    }
    
    .home__introduction__description__title {
        text-align: end;
    }
    
    .home__introduction__description__text {
        width: 75%;
        text-align: end;
    }
    
    /*
        ===================================== GOALS SECTION =====================================
    */

    .home__goals {
        flex-direction: row;
        justify-content: space-around;
        gap: 2em;
    }

    .home__goals__goal {
        width: 33%;
    }
}